# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node (if any)
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backup files
*.pdf
*.pptx
*.bak